body {
    background-image: url("https://st4.depositphotos.com/1020618/23786/i/450/depositphotos_237863150-stock-photo-old-style-movie-projector-close.jpg");
    background-size: 100%; /* Ajustar al 100% del ancho y alto del cuerpo */
    font-family: Arial, sans-serif;
}


.card-body {
    background-color: rgba(255, 255, 255, 0.8);
}

h1 {
    color: #ffffff;
    text-align: center;
}
h2 {
    color: #ffffff;
    text-align: center;
}
.card {
    margin-bottom: 20px;
}

button {
    display: block;
    margin: 0 auto;
}

.img-cuadrada {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
}
